
CMakeFiles/*
lib/freetype/build
CMakeFiles
*.dir
x64/*
ipch/*
*.db
*.opendb
*.suo
*.generated.h
*.ipch
./*.vcxproj
*.filters
*.user
.vscode/ipch
build/*
MyBuild/*
Win32
x64
*.filters
*.user
*.vcxproj
.vs
*.sln
CMakeCache.txt
cmake_install.cmake
.cmake/*

lib/DirectXTK/CMakeFiles/*
lib/DirectXTex/CMakeFiles/*
*.pdb

Release/*
Engine/CMakeFiles/*
Engine/DirectXTex/CMakeFiles/*
Engine/freetype/CMakeFiles/*
Engine/simdjson/src/CMakeFiles/*
Engine/Release/*
Engine12/CMakeFiles/*
*/progress.marks
GameModule/CMakeFiles/*


*.stamp
*.stamp.depend
*.TMP
*.depend
*.depend
*.cbp
*.exp
*.marks
Makefile
CMakeDirectoryInformation.cmake
generate.stamp.depend
*.cmake
/out/build
